{% extends 'SinkItBundle::layout.html.twig' %}

{# block content_header '' #}

{% block content %}
    <div class="intro-page">
        <span id="new-game"><a href="{{ path('_welcome') }}">Start a new game</a></span>
    </div>
{% endblock %}
